.main
{
  font-family: sans-serif;
  font-size: 12pt;
  background-color: 	#404040;
  color: white;
  margin-left: 360px;
  padding: 0px 10px;
}

.menu
{
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.menu a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
  display: block;
  transition: 0.3s;
}

.menu p
{
  font-size: 36px;
  font-weight: bold;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  display: block;
}

.menu a:hover
{
  color: white;
  text-decoration: none;
}

#logoutIcon
{
  color: #cc2900;
}

#activeIcon
{
  font-size: 25px;
}
