html
{
  font-family: sans-serif;
  font-size: 12pt;
  background-color: #404040;
  color: white;
}

h1
{
  font-size: 36pt;
  font-weight: bold;
}

button
{
  border-radius: 5px;
}

.textbox
{
  border-width: 2px;
  border-color: #1a1a1a;
  padding: 10px 20px;
  margin: 8px 0;
  color: white;
  background-color: #1a1a1a;
  transition-duration: 500ms;
}

.textbox:hover
{
  outline: none;
  border: 2px solid #999999;
}

.readonlyTextbox
{
  border-width: 2px;
  border-color: #1a1a1a;
  padding: 10px 20px;
  margin: 8px 0;
  color: white;
  background-color: #1a1a1a;
  cursor: default;
}

.checkbox
{
  margin: 8px 0;
  background-color: #1a1a1a;
}

.link
{
  color: white;
  text-decoration: underline;
  transition-duration: 250ms;
}

.link:hover
{
  color: lightblue;
}

.borderReadonlyTextbox
{
  border-width: 2px;
  border-color: black;
  color: white;
  background-color: #404040;
  cursor: default;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 10px;
   width: 100%;
   background-color: #404040;
   color: white;
   text-align: center;
}
