html
 {
   text-align: center;
   font-size: 14px;
   background-color: 	#404040;
 }

#content
{
  text-align: center;
  margin-top: 10%;
  background-color: #404040;
  color: white;
}

#loginButton
{
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
